.clock {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 30pt;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 20px;
}

.btnToggle {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    position: relative;
    top: 50px;
}

.btnReset {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    position: relative;
    top: 100px;
}

.targetWeight {
    width: 200px;
    height: 100px;
    line-height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 30pt;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 20px;
}

.targetStage {
    height: 150px;
    margin: 20px;
}

.targetStageCurrent {
    height: 100px;
    line-height: 100px;
    font-size: 30pt;
    vertical-align: middle;
}

.targetStageNext {
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 15pt;
    vertical-align: middle;
}
